body {
    font-size: 16px;
    background-color: #D9A78B;
    line-height: 1.5;
    font-family: 'Koh Santepheap', cursive;
    color: #F2CCB6;
    height: 100%;   
}

h1 {
    font-size: 1.5em;
    margin: 0.15rem;
    font-family: 'Koh Santepheap', cursive;
}
h2 {
    color: #1F818C;
    font-size: 1.5rem;
    text-align: center;
    font-family: 'Koh Santepheap', cursive;
   
}

header, nav, footer {
    margin:0 auto;
    padding: 0.75rem;
    max-width: 45rem;
    height: 20px;
    color: #F2CCB6;       
}
header {
    margin-top: 10px;
}
header nav {
    background-color: #273859;
}
header, footer{
    text-align: center;
    background-color: #273859;
    border-radius: 10px;
}
main {
    width: 60%;
    margin: auto;
}
header img {
display: flex;
margin: 7px;
margin-top: 1px;
border-radius: 15px;
width: 170px;
height: auto;
float: right;
}
.currentdate {
color : #F2CCB6;
}
ul {
    color: #273859;
       
}   
li a {
    color: #734A3C;
    font-size: 1.5rem;
    font-family: 'Roboto Condensed', sans-serif;
  }
  footer{
      font-size: 0.8rem;
  }
  footer a {
      color:#F2CCB6
  }
#currentdate {color:#F2CCB6; }
