html {
    font-family: 'Ubuntu', sans-serif;
}
header, nav {
	font-size: 25px;
	margin: 10 auto;
    padding: 10px 10;
	display: flex;
	align-items:center;
	justify-content:center;
	text-align: center;
   
}

table {
    border: 2px solid #628ca6;
    font-size: 1.5em;
    box-shadow: 15px 15px 15px -2px #628ca6;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
}
#goalmet{
    background-color: #628ca6;
  color: white;
}
td, th {
    padding: 20px 20px;
}

td {
    text-align: center;
}

tr:nth-child(even) {
    background-color: #e7f0ed;
}

tr:nth-child(odd) {
    background-color: #e7ffed;
}

thead>tr>th {
    background-color: #7fb9c2;
    color: black;
    font-size: 30px;
    font-weight: bold;
}

tbody>tr>th {
    background-color: #628ca6;
    font-size: 20px;
    font-weight: bold;
    color: white;
}


 tfoot>tr>td{
    background-color: #7fb9c2;

    font-size: 80%; 
}


