@media only screen and (min-width: 750px) {
	header img {
		width: 100%;
	}

	.headings h1 {
		font-size: 3rem;
	}

	.m {
		letter-spacing: 1.5pt;
		font-size: larger;
		margin-left: 17px;
	}
}
/* Media Query for medium+ views */
@media only screen and (min-width: 32.5em) {
	.navigation {
		display: flex;
	}
	.navigation li {
		display: block; /* change state in small view */
		flex: 1 1 auto;
	}
	.navigation a {
		text-align: center;
	}
	.navigation li:first-child {
		display: none;
	}
}
#currentdate {color:#F28705;
    
 }

footer {

    padding: 2rem;
    height: 20px;
    color: #a5a5a5;
    text-align: center;
    background-color: #273859;
    max-width: 960px;
    margin: 0 auto;

}


