body {
    background-color: #a5a5a5;
    padding: 0;
    margin: 0;
}
header {
    background-color: #284259;
    padding: 5px 0;
    display:flex;
    align-content: center;
    justify-content: center;
    font-family: 'Glegoo', serif;
}

header img {
    width: 88px;
    height: auto;
}

.headings {
    display:flex;
    flex-direction: column;
}

.headings h1 {
    font-size: 3rem;
    margin: 0 0 0 17px;
    color: #F28705;

}
h2 {
    color: #284259;
    font-size: 2rem;
    text-align: center;
  
}
.m {
    font-style: italic;
    letter-spacing: 1pt;
    color: #a5a5a5;
    margin-left: 20px;
    font-size: .9rem;
}
.contentbox{
   display: block; 
   margin: 10px auto;
   border: 1px #ffffff;
   padding: 15px;
   background-color: #1F818C;
   color:white;
   font-style: italic;
   max-width: 930px;
}
.contentbox img {
	width: 925px;
    height: 390px;
}
.fifcation{
    position: relative;
}
.weathersummary {
	position:absolute;
	border: 1px dashed #94A6A4;
	padding: 15px;
	background-color: #D9D0D6;
	color: #284259;
	font-size: 14px;
    top: 340px;
    left: 270px;
}
#forecast-section {
    position: relative;
    left: 250px;
    margin: auto;
    display: flex;
    flex-direction: row;
    max-width: 1000px;
}
.contentboxforecast {
    padding:10px;
    text-align: center;

}
.forcast-days{
   padding-bottom:5px;
   margin:3px;
}
div{
    padding:5px;
}
#sun-icon{
    display: flex;
    justify-content: center;
    width: 70px;
    height: 70px;
  }
.contentboxarticle{
    padding:10px;
    text-align: center; 
    background-color: #1F818C;
}
.contentboxarticle img{
    width: 300px;
    height: 250px;
    float: left;

}
p {
    padding: 0;
	letter-spacing: 0.1rem;
	line-height: 2;
    color: white;
    justify-content: center;
}
.social-networks {
    width: auto;
    height: auto;
    max-width: 100px;
    max-height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

}
.social-networks .fab{
    margin: 0 15px;
    width: 40px;
    height:40px;
    text-align: center;
    color: aliceblue;
    cursor: pointer;
    transition: all 0.5s ease;
    }
.social-networks .icon1:hover{
    color: #284259;
  
}
.social-networks .icon2:hover{
    color: #284259;
  
}

.social-networks .icon3:hover{
    color: #284259;
  
}

.social-networks .icon4:hover{
  color: #284259;
  
}
.facebook{
   max-width: 100%;
}
.contentboxcontact{
padding:10px;
text-align: center;
position: relative;
display: grid;
grid-template-columns: 1fr 1fr;
grid-gap: 10px;
}


main, footer {
    font-family: 'Glegoo', serif;
}
header,
main,
footer {
	max-width: 960px;
    margin: 0 auto;
}
/* Small/Phone View ***************/
nav {
	margin: 0 auto;
	max-width: 960px;
	background-color: #F28705;
}
.navigation {
	list-style: none;
	padding: 0;
}
.navigation li:first-child {
	display: block;
}
.navigation li {
	display: none;
}
.navigation a {
	display: block;
	padding: 0.75rem;
	text-align: left;
	text-decoration: none;
	color: #273859;
	font-weight: 700;
	transition: 0.5s;
}
.navigation a:hover {
	color: white;
	background-color: #1F818C;
}

/* the onclick JS toggles the .reponsive class from display none (.navigation li) to display block because the responsive class is added to the end of the class list like this in HTML.
  <ul class="navigation responsive">
*/
.responsive li {
	display: block;
}
footer {
    padding: 2rem;
    height: 20px;
    color: #a5a5a5;
    text-align: center;
    background-color: #273859;
    max-width: 960px;
    margin: 0 auto;

}
#currentdate {color:#F28705;
    
}
/* pop up*/
.box {
    width: 20%;
    margin: 0 auto;
    background: rgba(255, 255, 255, 0.2);
    padding: 35px;
    border: 2px solid #fff;
    border-radius: 20px/50px;
    background-clip: padding-box;
    text-align: center;
  }
  .button {
    font-size: 1em;
    padding: 10px;
    color: #fff;
    border: 2px solid orange;
    border-radius: 20px/50px;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.3s ease-out;
  }
  .button:hover {
    background: red;
  }
  .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: visible;
    opacity: 1;
  }
  .overlay:target {
    visibility: hidden;
    opacity: 0;
    display:none
  }
.popup { 
    position: relative;
    margin: 70px auto;
    padding: 20px;
    background: #F28705;
    border-radius: 5px;
    width: 20%;
    transition: all 5s ease-in-out; }

.popup .close{ 
    position: absolute; 
    top: 20px; right: 30px;
    transition: all 200ms;
    font-size: 30px; 
    font-weight: bold; 
    text-decoration: none; 
    color: #333; }
.popup .close:hover { color: #273859; }
.popup .content     { max-height: 30%; overflow: auto; }

/*.popup h2 { margin-top: 0; color: #333; font-family: Tahoma, Arial, sans-serif; }*/
/*end pop up*/
@media only screen and (min-width:700px) {
	.headings h1 {
		font-size: 3rem;
	}
	.m {
		letter-spacing: 1.5pt;
		font-size: larger;
		margin-left: 17px;
	}
	.navigation {
		display: flex;
	}
	.navigation li {
		display: block; /* change state in small view */
		flex: 1 1 auto;
	}
	.navigation a {
		text-align: center;
	}
	.navigation li:first-child {
		display: none;
	}
}


